body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #343a40;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.flex-grow-1 {
  flex-grow: 1;
}

.bg-custom {
  background-color: #f0f0f0;
}

/* InputForm.css */
.input-form-container {
  background-color: #f8f9fa;
  padding: 40px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.input-field,
.submit-button {
  height: 50px;
  font-size: 1rem;
}

.submit-button {
  width: auto;
  padding: 0 20px;
}

.response-info {
  margin-top: 20px;
  padding: 15px;
  background-color: #e9ecef;
  border-left: 3px solid #007bff;
  border-radius: 5px;
  font-size: 1rem;
}